<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>{{actor.system.name}}</h1>
  </header>
  <section class="sheet-body">

    <div class="mainWrapper">

      <div class="fichaColumnWrapper">
        <div class="nomeXpColumn" style="
          width: 40%;
          margin: auto;">
          <div style="width: 100%;">
            <h2>Nivel e personagem</h2>
            <input class="" type="text" name="system.name" value="{{actor.system.name}}"></input>
          </div>

          <div style="width: 40%;">
            <h2>XP</h2>
            <input type="text" name="system.xp" value="{{actor.system.xp}}"></input>
          </div>
        </div>

        <div style="
        width: 10%;
        margin: 0 auto;">
          <h2>Raça</h2>
          <input type="text" name="system.raca" value="{{actor.system.raca}}"></input>
        </div>

        <div style="
        width: 40%;
        margin: 0 auto;">
          <h2>Classe</h2>
          <input type="text" name="system.classe" value="{{actor.system.classe}}"></input>
        </div>
      </div>

      <div class="fichaColumnWrapper">
        <div style="
        width: 29%;
        margin: auto;">
          <h2>Player</h2>
          <input type="text" name="system.player" value="{{actor.system.player}}"></input>
        </div>

        <div style="
        width: 9%;
        margin: auto;">
          <h2>Idade</h2>
          <input type="text" name="system.idade" value="{{actor.system.idade}}"></input>
        </div>

        <div style="
        width: 9%;
        margin: auto;">
          <h2>Árvore C.</h2>
          <input type="text" name="system.arvCeles" value="{{actor.system.arvCeles}}"></input>
        </div>

        <div style="
        width: 9%;
        margin: auto;">
          <h2>Tamanho</h2>
          <input type="text" name="system.tamanho" value="{{actor.system.tamanho}}"></input>
        </div>

        <div style="
        width: 19%;
        margin: auto;">
          <h2>Divindade</h2>
          <input type="text" name="system.divindade" value="{{actor.system.divindade}}"></input>
        </div>

        <div style="
        width: 19%;
        margin: auto;">
          <h2>Benção</h2>
          <input type="text" name="system.bencao" value="{{actor.system.bencao}}"></input>
        </div>
      </div>

      <div class="fichaColumnWrapper">
        <div class="fichaColumn">
          <h1>Atributos</h1>
          <div class="fichaAtributosWrapper" style="margin-bottom: 10px;">

            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">FOR</label>
              <h1 class="forcaAttr">{{system.attributes.forca}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.forca"
                value="{{actor.system.attributes.forca}}" />
            </div>
            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">DES</label>
              <h1 class="destrezaAttr">{{system.attributes.destreza}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.destreza"
                value="{{actor.system.attributes.destreza}}" />
            </div>
            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">CON</label>
              <h1 class="constituicaoAttr">{{system.attributes.constituicao}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.constituicao"
                value="{{actor.system.attributes.constituicao}}" />
            </div>
            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">INT</label>
              <h1 class="inteligenciaAttr">{{system.attributes.inteligencia}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.inteligencia"
                value="{{actor.system.attributes.inteligencia}}" />
            </div>
            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">SAB</label>
              <h1 class="sabedoriaAttr">{{system.attributes.sabedoria}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.sabedoria"
                value="{{actor.system.attributes.sabedoria}}" />
            </div>
            <div class="fichaCampoAtributos">
              <label class="fichaAtributos">CAR</label>
              <h1 class="carismaAttr">{{actor.system.attributes.carisma}}</h1>
              <input style="text-align: center;" type="number" name="system.attributes.carisma"
                value="{{actor.system.attributes.carisma}}" />
            </div>        
          </div>

          <div class="fichaColumnWrapper"
            style="border: 1px solid black; border-radius: 1cap; margin: 2 auto; padding-top: 10px;">
            <div class="fichaColumn">
              <h1>Pontos de Vida</h1>
              <div class="fichaColumnWrapper">
                <div>
                  <input type="number" name="system.pvMax" value="{{actor.system.pvMax}}">
                  <label>Máximos</label>
                </div>
                <div>
                  <input type="number" name="system.pvAtual" value="{{actor.system.pvAtual}}">
                  <label>Atuais</label>
                </div>
                <div>
                  <input type="number" name="system.pvTemp" value="{{actor.system.pvTemp}}">
                  <label>Temporários</label>
                </div>
              </div>
            </div>

            <div class="fichaColumn">
              <h1>Pontos de Mana</h1>
              <div class="fichaColumnWrapper">
                <div>
                  <input type="number" name="system.pmMax" value="{{actor.system.pmMax}}">
                  <label>Máximos</label>
                </div>
                <div>
                  <input type="number" name="system.pmAtual" value="{{actor.system.pmAtual}}">
                  <label>Atuais</label>
                </div>
                <div>
                  <input type="number" name="system.pmTemp" value="{{actor.system.pmTemp}}">
                  <label>Temporários</label>
                </div>
              </div>
            </div>

          </div>

          <div class="fichaColumnWrapper">
            <div style="width: 48%; margin: 0 auto;">
              <h1>Equipamentos</h1>

              <h2>Armadura e Escudo</h2>
              <textarea name="system.armad" rows="3" style="width: 100%;">{{actor.system.armad}}</textarea>

              <h2>Proficiências</h2>
              <textarea name="system.prof" rows="3" style="width: 100%;">{{actor.system.prof}}</textarea>

              <div class="fichaColumnWrapper">
                <div style="width: 32%; margin: 0 auto;">
                  <label>Alcançe</label>
                  <input type="text" name="system.alcance" value="{{actor.system.alcance}}">
                </div>

                <div style="width: 32%; margin: 0 auto;">
                  <label>Deslocamento</label>
                  <input type="text" name="system.deslocamento" value="{{actor.system.deslocamento}}">
                </div>

                <div style="width: 32%; margin: 0 auto;">
                  <label>Levantar</label>
                  <input type="text" name="system.levantar" value="{{actor.system.levantar}}">
                </div>
              </div>
            </div>

            <div style="width: 48%; margin: 0 auto;">
              <h1>Resistências</h1>

              <h2>RD</h2>
              <input type="number" name="system.rd" value="{{actor.system.rd}}">

              <h2>RF</h2>
              <input type="number" name="system.rf" value="{{actor.system.rf}}">

              <h2>RE</h2>
              <input type="number" name="system.re" value="{{actor.system.re}}">
            </div>
          </div>

          <h1>Ataques Principais</h1>
          <textarea name="system.ataque" rows="15" style="width: 100%;">{{actor.system.ataque}}</textarea>

        </div>

        <div class="fichaColumn">
          <h1>Perícias</h1>
          <div class="fichaColumnWrapper periciaHeader">
            <h2 class="pH2Tr">Treino</h2>
            <h2 class="pH2A">Atributo</h2>
            <h2 class="pH2O">Outros</h2>
            <h2 class="pH2Tt">Total</h2>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="acro" data-atributo="destreza">
            <div class="periciasAtributoWrapper2"><label>Acrobacia</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.acro" class="treinamento periciaInput"
                value="{{actor.system.pericias.treinamento.acro}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="destrezaAttr">{{system.attributes.destreza}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.acroBonus" class="bonus" value="{{actor.system.acroBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="ades" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Adestramento</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.ades" class="treinamento periciaInput"
                value="{{actor.system.pericias.treinamento.ades}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.adesBonus" class="bonus" value="{{actor.system.adesBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="atle" data-atributo="forca">
            <div class="periciasAtributoWrapper2"><label>Atletismo</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.atle" class="treinamento"
                value="{{actor.system.pericias.treinamento.atle}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="forcaAttr">{{system.attributes.forca}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.atleBonus" class="bonus" value="{{actor.system.atleBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="atua" data-atributo="carisma">
            <div class="periciasAtributoWrapper2"><label>Atuação</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.atua" class="treinamento"
                value="{{actor.system.pericias.treinamento.atua}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="carismaAttr">{{system.attributes.carisma}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.atuaBonus" class="bonus" value="{{actor.system.atuaBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="conh" data-atributo="inteligencia">
            <div class="periciasAtributoWrapper2"><label>Conhecimento</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.conh" class="treinamento"
                value="{{actor.system.pericias.treinamento.conh}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="inteligenciaAttr">{{system.attributes.inteligencia}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.conhBonus" class="bonus" value="{{actor.system.conhBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="fort" data-atributo="constituicao">
            <div class="periciasAtributoWrapper2"><label>Fortitude</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.fort" class="treinamento"
                value="{{actor.system.pericias.treinamento.fort}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="constituicaoAttr">{{system.attributes.constituicao}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.fortBonus" class="bonus" value="{{actor.system.fortBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="furt" data-atributo="destreza">
            <div class="periciasAtributoWrapper2"><label>Furtividade</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.furt" class="treinamento"
                value="{{actor.system.pericias.treinamento.furt}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="destrezaAttr">{{system.attributes.destreza}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.furtBonus" class="bonus" value="{{actor.system.furtBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="inic" data-atributo="destreza">
            <div class="periciasAtributoWrapper2"><label>Iniciativa</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.inic" class="treinamento"
                value="{{actor.system.pericias.treinamento.inic}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="destrezaAttr">{{system.attributes.destreza}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.inicBonus" class="bonus" value="{{actor.system.inicBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="inti" data-atributo="carisma">
            <div class="periciasAtributoWrapper2"><label>Intimidação</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.inti" class="treinamento"
                value="{{actor.system.pericias.treinamento.inti}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="carismaAttr">{{system.attributes.carisma}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.intiBonus" class="bonus" value="{{actor.system.intiBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="intu" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Intuição</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.intu" class="treinamento"
                value="{{actor.system.pericias.treinamento.intu}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.intuBonus" class="bonus" value="{{actor.system.intuBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="inve" data-atributo="inteligencia">
            <div class="periciasAtributoWrapper2"><label>Investigaçaõ</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.inve" class="treinamento"
                value="{{actor.system.pericias.treinamento.inve}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="inteligenciaAttr">{{system.attributes.inteligencia}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.inveBonus" class="bonus" value="{{actor.system.inveBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="joga" data-atributo="carisma">
            <div class="periciasAtributoWrapper2"><label>jogatina</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.joga" class="treinamento"
                value="{{actor.system.pericias.treinamento.joga}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="carismaAttr">{{system.attributes.carisma}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.jogaBonus" class="bonus" value="{{actor.system.jogaBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="ladi" data-atributo="destreza">
            <div class="periciasAtributoWrapper2"><label>Ladinagem</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.ladi" class="treinamento"
                value="{{actor.system.pericias.treinamento.ladi}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="destrezaAttr">{{system.attributes.destreza}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.ladiBonus" class="bonus" value="{{actor.system.ladiBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="luta" data-atributo="forca">
            <div class="periciasAtributoWrapper2"><label>Luta</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.luta" class="treinamento"
                value="{{actor.system.pericias.treinamento.luta}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="forcaAttr">{{system.attributes.forca}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.lutaBonus" class="bonus" value="{{actor.system.lutaBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="medi" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Medicina</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.medi" class="treinamento"
                value="{{actor.system.pericias.treinamento.medi}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.mediBonus" class="bonus" value="{{actor.system.mediBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="mist" data-atributo="inteligencia">
            <div class="periciasAtributoWrapper2"><label>Misticismo</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.mist" class="treinamento"
                value="{{actor.system.pericias.treinamento.mist}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="inteligenciaAttr">{{system.attributes.inteligencia}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.mistBonus" class="bonus" value="{{actor.system.mistBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="nobr" data-atributo="inteligencia">
            <div class="periciasAtributoWrapper2"><label>Nobreza</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.nobr" class="treinamento"
                value="{{actor.system.pericias.treinamento.nobr}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="inteligenciaAttr">{{system.attributes.inteligencia}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.nobrBonus" class="bonus" value="{{actor.system.nobrBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="ofic" data-atributo="inteligencia">
            <div class="periciasAtributoWrapper2"><label>Ofício</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.ofic" class="treinamento"
                value="{{actor.system.pericias.treinamento.ofic}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="inteligenciaAttr">{{system.attributes.inteligencia}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.oficBonus" class="bonus" value="{{actor.system.oficBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="perc" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Percepção</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.perc" class="treinamento"
                value="{{actor.system.pericias.treinamento.perc}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabe}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.percBonus" class="bonus" value="{{actor.system.percBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="pers" data-atributo="carisma">
            <div class="periciasAtributoWrapper2"><label>Persuasão</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.pers" class="treinamento"
                value="{{actor.system.pericias.treinamento.pers}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="carismaAttr">{{system.attributes.carisma}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.persBonus" class="bonus" value="{{actor.system.persBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="pilo" data-atributo="destreza">
            <div class="periciasAtributoWrapper2"><label>Pilotagem</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.pilo" class="treinamento"
                value="{{actor.system.pericias.treinamento.pilo}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="destrezaAttr">{{system.attributes.destreza}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.piloBonus" class="bonus" value="{{actor.system.piloBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="reli" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Religião</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.reli" class="treinamento"
                value="{{actor.system.pericias.treinamento.reli}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.reliBonus" class="bonus" value="{{actor.system.reliBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="sobr" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Sobrevivência</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.sobr" class="treinamento"
                value="{{actor.system.pericias.treinamento.sobr}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.sobrBonus" class="bonus" value="{{actor.system.sobrBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
          <div class="fichaColumnWrapper periciaRow" data-pericia="vont" data-atributo="sabedoria">
            <div class="periciasAtributoWrapper2"><label>Vontade</label></div>
            <div class="periciasAtributoWrapper">
              <input type="number" name="system.pericias.treinamento.vont" class="treinamento"
                value="{{actor.system.pericias.treinamento.vont}}">
            </div>

            <div class="periciasAtributoWrapper">
              <span class="sabedoriaAttr">{{system.attributes.sabedoria}}</span>
            </div>

            <div class="periciasAtributoWrapper"><input type="number" name="system.vontBonus" class="bonus" value="{{actor.system.vontBonus}}"></div>

            <div class="periciasAtributoWrapperTotal">
              <span class="total"></span>
            </div>
          </div>
        </div>
      </div>

      <h1>Inventário</h1>

      <div class="inventarioWrapper">
        <div class="inventarioColumn">
          <h2>Itens</h2>
          <textarea name="system.itens" rows="15" style="width: 100%;">{{actor.system.itens}}</textarea>
        </div>
        <div class="cargaSoisColumn">
          <div class="soisRow" style="margin-right: 2%;">
            <h2>$ói$</h2>
            <input type="number" name="system.MOuro" value="{{actor.system.MOuro}}" style="margin-top: 16px;" />
          </div>
          <div>
            <h2>Carga</h2>
            <div class="cargaRow">
              <div style="margin-right: 3%;">
                <label>Atual</label>
                <input type="number" name="system.CargaAtual" value="{{actor.system.CargaAtual}}">
              </div>
              <div>
                <label>Máxima (10x força)</label>
                <input type="number" name="system.CargaMax" value="{{actor.system.CargaMax}}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1>Habilidades de Classe, Raça e Passiva</h1>
      <textarea name="system.skills" rows="15" style="width: 100%;">{{actor.system.skills}}</textarea>

      <h1>Poderes</h1>
      <textarea name="system.poderes" rows="15" style="width: 100%;">{{actor.system.poderes}}</textarea>

      <h1>Magias</h1>
      <textarea name="system.magias" rows="15" style="width: 100%;">{{actor.system.magias}}</textarea>


    </div>

  </section>
</form>